body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ff9bdc;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    background-color: #ff78d0;
  }
}

.container {
  text-align: center;
  background: #ffe0f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 500px;
}

.switch-cont {
  margin-bottom: 20px;
  margin-left: 400px;
}

.icon {
  height: 65px;
  transition: 0.3s;
}
.icon:hover {
  transform: scale(1.1);
}

.input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #feeaf7;
  border: 2px solid #d0abc3;
  border-radius: 4px;
  font-size: 16px;
  outline: 2px solid transparent;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

.input:focus {
  outline: 2px solid #ff6bcb;
}

.input:hover {
  border-color: #ff4ec1;
}

.lb-idiom {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

select {
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #feeaf7;
  border: 2px solid #d0abc3;
  border-radius: 4px;
  font-size: 16px;
  outline: 2px solid transparent;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

select:focus {
  outline: 2px solid #ff6bcb;
}

select:hover {
  border-color: #ff4ec1;
}

button {
  font-size: 15px;
  padding: 10px 20px;
  background: #ff4bc0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}

button:hover {
  background: #ff2ab4;
}

/*TOGGLE BUTTON*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e6199e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
